name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: Setup Node
        uses: actions/setup-node@v2.1.2
      - name: Install Dependencies
        run: npm install
      - name: Build Source
        run: npm run build
        env:
          NODE_ENV: production
          CI: true
      - name: Coverage Testing
        run: npm run cov
      - name: Coverage Report
        run: npx codecov
